.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;

  padding: 20px;
  border-radius: 10px;
  background-color: var(--secondary-background-color);
}

.pop-up.active {
  transform: translate(-50%, -50%) scale(1);
}

.pop-up-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop-up-header h2 {
  font-size: 1.4em;
  font-weight: bold;
}

.pop-up-header button {
  border: none;
  background-color: var(--secondary-background-color);
  font-size: 1.6em;
  cursor: pointer;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 1.2em;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  padding: 8px;
  border: 2px solid var(--primary-background-color);
}

.have-read-section {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 1.2em;
}

#have-read {
  width: 20px;
}

input[type="submit"] {
  padding: 10px;
  font-size: 1.2em;
  border-radius: 6px;
  border: none;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  transition: background-color 0.2s;
}

input[type="submit"]:hover {
  background-color: #475569;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.error {
  padding: 0;
  margin: 0;

  font-size: 80%;
  color: #fca5a5;
  border-radius: 0 0 5px 5px;

  display: block;
}

.error.active {
  height: 10px;
  padding: 5px;
}

.invalid {
  padding: 8px !important;
  border: 2px solid #fca5a5 !important ;
}
